.idea
_site*/
.jekyll-cache*/
.jekyll-metadata
.DS_Store
.sqlite3
backend/multiwerf/
backend/vendor/
backend/root/
.bundle
vendor/
bin/configurator/generated/
/_includes/*/configurator
/pages_*/configurator*
/_data/*/configurator*
/scripts/demo/sample-app
configurator-data.json
configurator-options-list.json
spell_log_ru
spell_log_en
