company_name: Флант
company_url: https://flant.ru
url: https://ru.werf.io
site_lang: ru
issuelink: "https://github.com/werf/website/issues/new"
site_description: Инструмент консистентной доставки. Используем Git как единый источник истины. Собираем, деплоим в Kubernetes, синхронизируем изменения.

data_dir: _data/ru
includes_dir: _includes/ru
cache_dir: ".jekyll-cache-ru"

exclude:
  # Directories
  - .github
  - .helm
  - .idea
  - ".jekyll-cache"
  - ".jekyll-cache-ru"
  - ".jekyll-cache-en"
  - ".werf"
  - backend
  - bin
  - examples/basic
  - examples/django
  - examples/java_springboot
  - examples/laravel
  - examples/nodejs
  - examples/rails
  - pages_en
  - scripts
  - _site_en_includes
  - _site_ru_includes
  # Files
  - .gitignore
  - docker-compose.yml
  - "docker-compose*.yml"
  - Gemfile
  - Gemfile.lock
  - Makefile
  - Taskfile.yaml
  - "werf.yaml"
  - "werf-*.yaml"

include:
  # The only way I found to disable filtering of all hidden files.
  - .
  - pages_ru
  - ssi

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      lang: ru
      multilang: true
      sitemap_include: true
      editme_button: true
      search: true
      topnav: topnav
  - scope:
      path: "pages_ru/guides"
      type: "pages"
    values:
      sidebar: guide
      multilang: true
      layout: "guides-page"
      toc: true
      chapter_production_disclaimer: true
      chapter_initial_prepare_cluster: true
      chapter_initial_prepare_repo: true
  - scope:
      path: "pages_ru/guides/*/*.md"
      type: "pages"
    values:
      chapter_production_disclaimer: false
      chapter_initial_prepare_cluster: false
      chapter_initial_prepare_repo: false
  - scope:
      path: "pages_ru/guides/*/100_basic"
      type: "pages"
    values:
      chapter_production_disclaimer: false
      multilang: true
  - scope:
      path: "pages_ru/guides/nodejs"
      type: "pages"
    values:
      framework_id: nodejs
      framework_name: "Node.js"
  - scope:
      path: "pages_ru/guides/java_springboot"
      type: "pages"
    values:
      framework_id: java_springboot
      framework_name: "Spring Boot"
  - scope:
      path: "pages_ru/guides/django"
      type: "pages"
    values:
      framework_id: django
      framework_name: Django
  - scope:
      path: "pages_ru/guides/golang"
      type: "pages"
    values:
      framework_id: golang
      framework_name: Go
  - scope:
      path: "pages_ru/guides/rails"
      type: "pages"
    values:
      framework_id: rails
      framework_name: Rails
  - scope:
      path: "pages_ru/guides/laravel"
      type: "pages"
    values:
      framework_id: laravel
      framework_name: Laravel
  - scope:
      path: "pages_ru/guides/framework_id"
      type: "pages"
    values:
      framework_id: framework_id
      framework_name: "TODO (_config_ru.yml): Framework_ID"
breadcrumbs:
  home_text: Руководства
  home_url: /guides.html
