company_name: Flant
company_url: https://flant.ru
url: https://werf.io
site_lang: en
issuelink: "https://github.com/werf/werf-guides/issues/new"
site_description: Consistent delivery tool. Git as a single source of truth. Build, deploy to Kubernetes, stay in sync.

data_dir: _data/en
includes_dir: _includes/en

exclude:
  - Gemfile
  - Gemfile.lock
  - examples
  - pages_ru
  - werf.yaml
  - "*.sh"
  - backend

include:
  - pages_en
  - ssi

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      lang: en
      multilang: true
      sitemap_include: true
      editme_button: true
      search: true
      topnav: topnav
  - scope:
      path: "pages_en/guides"
      type: "pages"
    values:
      sidebar: guide
      multilang: true
      toc: false
      layout: "guides"
      chapter_production_disclaimer: true
      chapter_initial_prepare_cluster: true
      chapter_initial_prepare_repo: true
  - scope:
      path: "pages_en/guides/*/*.md"
      type: "pages"
    values:
      chapter_production_disclaimer: false
      chapter_initial_prepare_cluster: false
      chapter_initial_prepare_repo: false
  - scope:
      path: "pages_en/guides/*/100_basic"
      type: "pages"
    values:
      chapter_production_disclaimer: false
      multilang: true
  - scope:
      path: "pages_en/guides/nodejs"
      type: "pages"
    values:
      framework_id: nodejs
      framework_name: "Node.js"
  - scope:
      path: "pages_en/guides/java_springboot"
      type: "pages"
    values:
      framework_id: java_springboot
      framework_name: "Spring Boot"
  - scope:
      path: "pages_en/guides/django"
      type: "pages"
    values:
      framework_id: django
      framework_name: Django
  - scope:
      path: "pages_en/guides/golang"
      type: "pages"
    values:
      framework_id: golang
      framework_name: Go
  - scope:
      path: "pages_en/guides/rails"
      type: "pages"
    values:
      framework_id: rails
      framework_name: Rails
  - scope:
      path: "pages_en/guides/laravel"
      type: "pages"
    values:
      framework_id: laravel
      framework_name: Laravel

breadcrumbs:
  home_text: Guides
  home_url: /guides.html
