## Preparing the repository

<div class="tabs">
<a href="javascript:void(0)" class="tabs__btn tabs__from_scratch__btn active" onclick="openTab(event, 'tabs__from_scratch__btn', 'tabs__from_scratch__content', 'tabs__from_scratch__continuing')">I am following the guide from beginning</a>
<a href="javascript:void(0)" class="tabs__btn tabs__from_scratch__btn" onclick="openTab(event, 'tabs__from_scratch__btn', 'tabs__from_scratch__content', 'tabs__from_scratch__just_started')">I am just starting from this chapter</a>
</div>

<div id="tabs__from_scratch__continuing" class="tabs__content tabs__from_scratch__content active" markdown="1">
{%- if include.no_changes %}
Use an existing repository with the application (execute in Bash/PowerShell):
```shell
cd ~/werf-guide/app
```

Having problems with the repository? Try the instructions on the "I am just starting from this chapter" in this chapter tab above.
{%- else %}
Let's update the existing repository with the application:
{% include chapter_prepare_repo_commands.md.liquid examples_to=include.examples_to examples_from=include.examples_from from_scratch=false no_changes=false %}

Does not work? Try the instructions on the "I am just starting from this chapter" in this chapter tab above.
{%- endif %}
</div>

<div id="tabs__from_scratch__just_started" class="tabs__content tabs__from_scratch__content" markdown="1">
Let's prepare a new repository with the application:
{% include chapter_prepare_repo_commands.md.liquid examples_to=include.examples_to examples_from=include.examples_from from_scratch=true no_changes=include.no_changes %}
</div>

