{%- raw %}
{{ $CurrentPageURL := .CurrentPageURL }}
{{ $CurrentPageURLRelative := .CurrentPageURLRelative }}
<div class="submenu-container">
    <ul class="submenu">
    {{- range (slice .VersionItems 1) }}
            <li class="submenu-item">
                <a data-proofer-ignore class="submenu-item-link" href="/docs/{{ .VersionURL }}{{ $CurrentPageURLRelative }}">
          <span class="submenu-item-channel">{{ .Version }}</span>
                </a>
            </li>
    {{- end }}
    </ul>
</div>
{% endraw %}
