{% if page.sidebar %}
  {% assign sections = site.data.sidebars[page.sidebar].entries %}
{% else %}
  {% assign sections = site.data.sidebars.guide.entries %}
{% endif %}
{% assign frameworks_array = site.data.common.frameworks %}
{% assign frameworks = frameworks_array.frameworks %}

<!-- TODO: use data to generate landing tiles -->
<div class="guides__tiles">
  {% for framework in frameworks %}
    {% assign folder_pages = "" | split: "," %}

    {%- for section in sections.f %}
      {% if section.external != true %}
        {%- capture folder_page_permalink %}guides/{{ framework.name }}/{{ section.url }}{% endcapture -%}
        {% assign folder_page = site.pages | find: "permalink", folder_page_permalink %}
        {% assign folder_pages = folder_pages | push: folder_page %}
      {% endif %}
    {%- endfor -%}

    {% include common/guides-landing-tile.html %}
    
  {% endfor %}
</div>
