{%- raw %}
{{ $CurrentPageURL := .CurrentPageURL }}
{{ $CurrentPageURLRelative := .CurrentPageURLRelative }}
{{ $CurrentVersion := .CurrentVersion }}
{{ $CurrentLabel := "main" }}
{{- if eq $CurrentVersion "v1.2" }}
{{ $CurrentLabel = "v1.2" }}
{{- else if eq $CurrentVersion "v2" }}
{{ $CurrentLabel = "v2" }}
{{- end }}
{{- $VersionItems := slice
(dict "Version" "main" "VersionURL" "latest")
(dict "Version" "v2" "VersionURL" "v2")
(dict "Version" "v1.2" "VersionURL" "v1.2")
}}
<li id="doc-versions-menu" class="submenu-parent" style="display: none">
    <a data-proofer-ignore href="#">
        {{ $CurrentLabel }}
    </a>
    <div class="submenu-container">
        <ul class="submenu">
            {{- range $VersionItems }}
            <li class="submenu-item">
                <a data-proofer-ignore class="submenu-item-link"
                    href="/docs/{{ .VersionURL }}{{ $CurrentPageURLRelative }}">
                    <span class="submenu-item-channel">{{ .Version }}</span>
                </a>
            </li>
            {{- end }}
        </ul>
    </div>
</li>
{% endraw %}