{%- raw %}
{{ $CurrentPageURL := .CurrentPageURL }}
{{ $CurrentPageURLRelative := .CurrentPageURLRelative }}
{{ $CurrentVersion := .CurrentVersion }}
{{ $CurrentLabel := "main" }}
{{- if eq $CurrentVersion "v1.2" }}
{{ $CurrentLabel = "v1.2" }}
{{- else if eq $CurrentVersion "v2" }}
{{ $CurrentLabel = "v2" }}
{{- end }}
<li id="doc-versions-menu" class="submenu-parent">
    <a data-proofer-ignore href="#">
        <span class="breadcrumbs_versions">{% if page.lang == "ru" %}Версия{% else %}Version{% endif %}: </span>{{
        $CurrentLabel }}
    </a>
    <div class="submenu-container">
        <ul class="submenu">
            <li class="submenu-item">
                <a data-proofer-ignore class="submenu-item-link" href="/docs/latest{{ $CurrentPageURLRelative }}">
                    <span class="submenu-item-channel">main</span>
                </a>
            </li>
            <li class="submenu-item">
                <a data-proofer-ignore class="submenu-item-link" href="/docs/v2{{ $CurrentPageURLRelative }}">
                    <span class="submenu-item-channel">v2</span>
                </a>
            </li>
            <li class="submenu-item">
                <a data-proofer-ignore class="submenu-item-link" href="/docs/v1.2{{ $CurrentPageURLRelative }}">
                    <span class="submenu-item-channel">v1.2</span>
                </a>
            </li>
        </ul>
    </div>
</li>
{% endraw %}w %}