{% assign sidebar = site.data.sidebars[page.sidebar].entries %}
<ul id="mysidebar" class="sidebar sidebar_static">
  {%- for folder in sidebar.f %}
  {% if folder.sf %}
  <li class="sidebar__item sidebar__item_parent {%- if page.url contains folder.url %} active{%- endif %}">
    <a href="{{ site.baseurl }}/{{ page.framework_id }}/{{ folder.url }}" data-subhref="{{ folder.url }}">{{ folder.title }}</a>
    <ul class="sidebar__submenu">
      {%- for subfolders in folder.sf %}
      {%- if subfolders.external_url %}
      <li class="sidebar__submenu-item"><a href="{{ subfolders.external_url }}" target="_blank">{{subfolders.title}}</a></li>
      {%- elsif page.url contains subfolders.url %}
      <li class="sidebar__submenu-item active"><a href="{{ site.baseurl }}/{{ page.framework_id }}/{{ subfolders.url }}" data-subhref="{{ subfolders.url }}">{{subfolders.title}}</a></li>
      {%- else %}
      <li class="sidebar__submenu-item"><a href="{{ site.baseurl }}/{{ page.framework_id }}/{{ subfolders.url }}" data-subhref="{{subfolders.url}}">{{subfolders.title}}</a></li>
      {%- endif %}
      {%- endfor %}
    </ul>
  </li>
  {%- elsif folder.external_url %}
  <li class="sidebar__item"><a href="{{ folder.external_url }}" target="_blank">{{folder.title}}</a></li>
  {%- elsif page.url contains folder.url %}
  <li class="sidebar__item active"><a href="{{ site.baseurl }}/{{ page.framework_id }}/{{ folder.url }}" data-subhref="{{ folder.url }}">{{folder.title}}</a></li>
  {%- else %}
  <li class="sidebar__item"><a href="{{ site.baseurl }}/{{ page.framework_id }}/{{ folder.url }}" data-subhref="{{folder.url}}">
    {{folder.title}}
  </a></li>
  {%- endif %}
  {%- endfor %}
</ul>


