>    
> <div class="details">
> <a href="javascript:void(0)" class="details__summary">build-and-publish & deploy jobs</a>
> <div class="details__content" markdown="1">
> 
> {% raw %}
> ```yaml
> build-and-publish:
>   name: Build and Publish
>   runs-on: ubuntu-latest
>   steps:
> 
>     - name: Checkout code
>       uses: actions/checkout@v3
>       with:
>         fetch-depth: 0
>       
>     - name: Install werf
>       uses: werf/actions/install@v2
>
>     - name: Build
>       run: |
>         . $(werf ci-env github --as-file)
>         werf build
>       env:
>         WERF_KUBE_CONFIG_BASE64: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
>         WERF_REPO: "example.org/mycompany/myapp"
>         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
> 
> converge:
>   name: Converge
>   needs: build-and-publish
>   runs-on: ubuntu-latest
>   steps:
> 
>     - name: Checkout code
>       uses: actions/checkout@v3
>       with:
>         fetch-depth: 0
>
>     - name: Install werf
>       uses: werf/actions/install@v2
>
>     - name: Converge
>       run: |
>         . $(werf ci-env github --as-file)
>         werf converge --require-built-images
>       env:
>         WERF_ENV: production
>         WERF_KUBE_CONFIG_BASE64: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
>         WERF_REPO: "example.org/mycompany/myapp"
>         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
>
> ```
> {% endraw %}
> 
> </div>
> </div>
