---
title: Changelog
permalink: changelog.html
layout: default
sidebar: none
description: Changelog history of releases within channels
---
{%- asset changelog.css %}
{%- asset installation.js %}
{%- asset releases.css %}

{%- assign releases = site.data.common.releases.releases %}
{%- assign groups = site.data.common.releases_history.history | map: "group" | uniq | reverse %}
{%- assign channels_sorted = site.data.common.channels_info.channels | sort: "stability" %}
{%- assign channels_sorted_reverse = site.data.common.channels_info.channels | sort: "stability" | reverse  %}

<div class="page__container page_installation">
  <div class="installation-releases">
    <div class="installation-releases__block-title">
        Changelog history of releases within channels
        <a href="/feed.xml" title="RSS" target="_blank" class="page__icon page__icon_rss page__icon_block-title page__icon_link"></a>
    </div>
    <div class="installation-releases__block-subtitle">
        Release
    </div>

    <div class="tabs tabs_simple_condensed">
      {%- for group in groups %}
        <a href="javascript:void(0)" class="tabs__btn tabs__group__btn{% if group == groups[0] %} active{% endif %}" onclick="openTab(event, 'tabs__group__btn', 'tabs__group__content', 'group-{{group}}')">{{group}}</a>
      {%- endfor %}
    </div>

    {%- for group in groups %}
      <div id="group-{{group}}" class="tabs__content tabs__content_simple tabs__group__content{% if group == groups[0] %} active{% endif %}">
        <div class="installation-releases__block-subtitle">
            Channel
        </div>
        <div class="tabs tabs_simple_condensed">
          {%- assign not_activated = true %}
          {%- assign active_channels = 0 %}
          {%- for channel in channels_sorted_reverse %}
            {%- assign channel_activity = site.data.common.releases_history.history | reverse | where: "group", group | where: "name", channel.name | size %}
            {%- if channel_activity < 1 %}
              {%- continue %} 
            {%- endif %}
            <a href="javascript:void(0)" class="tabs__btn tabs__{{group}}__channel__btn{% if channel_activity > 0 and not_activated and channel != channels_sorted_reverse[0] %} active{% endif %}" onclick="openTab(event, 'tabs__{{group}}__channel__btn', 'tabs__{{group}}__channel__content', 'id-{{group}}-{{channel.name}}')">{{channel.title}}</a>
            {%- if channel_activity > 0 and not_activated and channel != channels_sorted_reverse[0] %}
            {%- assign not_activated = false %}
            {% endif %}
            {%- assign active_channels = active_channels | plus: 1 %}
          {%- endfor %}
          {%- if active_channels > 10 %}
            <a href="javascript:void(0)" class="tabs__btn tabs__{{group}}__channel__btn" onclick="openTab(event, 'tabs__{{group}}__channel__btn', 'tabs__{{group}}__channel__content', 'id-{{group}}-all')">All channels</a>
          {%- endif %}
        </div>

        {%- assign not_activated = true %}
        {%- assign active_channels = 0 %}
        {%- for channel in channels_sorted_reverse %}
          {%- assign channel_activity = site.data.common.releases_history.history | reverse | where: "group", group | where: "name", channel.name | size %}
          {%- if channel_activity < 1 %}
            {% continue %} 
          {% endif %}
          <div id="id-{{group}}-{{ channel.name }}" class="tabs__content tabs__content_simple tabs__{{group}}__channel__content{% if channel_activity > 0 and not_activated and channel != channels_sorted_reverse[0]  %} active{% endif %}">
            <div class="installation-releases__info">
              <p>
                {{ channel.tooltip[page.lang] }}
                <a href="/feed-{{group}}-{{ channel.name }}.xml" title="RSS" target="_blank" class="page__icon page__icon_rss page__icon_text page__icon_link"></a>
              </p>
              <p class="installation-releases__info-text">{{ channel.description[page.lang] }}</p>
            </div>

            {%- assign group_history = site.data.common.releases_history.history | reverse | where: "group", group %}
            {%- assign channel_history = group_history | where: "name", channel.name %}
        
            {%- if channel_history.size > 0 %}
              {%- for channel_action in channel_history %}
                {%- assign version = channel_action.version | normalize_version %}
                {%- assign release = site.data.common.releases.releases | where: "tag_name", version | first %}
                {% if release %}            
                  <div class="installation-releases__header">
                      <a href="{{ release.html_url }}" class="installation-releases__title">{{ release.tag_name }}</a>
                      <div class="installation-releases__date">{{ channel_action.ts | date: "%b %-d, %Y at %H:%M %z" }}</div>
                  </div>
                  <div class="installation-releases__body">
                      {{ release.body | markdownify }}
                  </div>
                {% endif %}
              {%- endfor %}
            {%- else %}
              <div class="installation-releases__info releases__info_notification">
                  <p>There are no versions on the channel yet, but they will appear soon.</p>
              </div>
            {%- endif %}

          </div>
          {%- if channel_activity > 0 and not_activated and channel != channels_sorted_reverse[0] %}
            {%- assign not_activated = false %}
          {%- endif %}
          {%- assign active_channels = active_channels | plus: 1 %}

        {%- endfor %}
      </div>
    {%- endfor %}
</div>