## Deploying a cluster

Select your operating system:

<div class="tabs">
<a href="javascript:void(0)" class="tabs__btn tabs__install__btn active" onclick="openTab(event, 'tabs__install__btn', 'tabs__install__content', 'tab__install__minikube_linux')">Linux: minikube</a>
<a href="javascript:void(0)" class="tabs__btn tabs__install__btn" onclick="openTab(event, 'tabs__install__btn', 'tabs__install__content', 'tab__install__minikube_macos')">macOS: minikube</a>
<a href="javascript:void(0)" class="tabs__btn tabs__install__btn" onclick="openTab(event, 'tabs__install__btn', 'tabs__install__content', 'tab__install__minikube_windows')">Windows: minikube</a>
{% comment %} TODO(lesikov): раскомментить как переработаю 20_cluster_has_cluster.md.
<a href="javascript:void(0)" class="tabs__btn tabs__install__btn" onclick="openTab(event, 'tabs__install__btn', 'tabs__install__content', 'tab__install__ihave')">Свой кластер</a>
{% endcomment %}
</div>

<div id="tab__install__minikube_linux" class="tabs__content tabs__install__content active" markdown="1">
{% include 100_basic/20_cluster/minikube_linux.md.liquid %}
</div>
<div id="tab__install__minikube_macos" class="tabs__content tabs__install__content" markdown="1">
{% include 100_basic/20_cluster/minikube_macos.md.liquid %}
</div>
<div id="tab__install__minikube_windows" class="tabs__content tabs__install__content" markdown="1">
{% include 100_basic/20_cluster/minikube_windows.md.liquid %}
</div>

{% comment %} TODO(lesikov): раскомментить как переработаю 20_cluster_has_cluster.md.liquid
<div id="tab__install__ihave" class="tabs__content tabs__install__content" markdown="1">
{% include 100_basic/20_cluster/has_cluster.md.liquid %}
</div>
{% endcomment %}

## Testing

Execute the following command to check if the cluster is up and running:

```shell
curl http://werf-guide-app/ping
```

If it works, the NGINX Ingress Controller will return a 404 error:

```html
<html>
<head><title>404 Not Found</title></head>
<body>
<center><h1>404 Not Found</h1></center>
<hr><center>nginx</center>
</body>
</html>
```

> Note that if your application is running already and has an Ingress configured to use the `werf-guide-app` domain, you will get a response from your application instead of a 404 error.

## Configuring the Container Registry

In this guide, we will use the Docker Hub Container Registry. However, you can use any other Registry that supports TLS and authentication ([GitHub Container Registry](https://github.com/features/packages), [GitLab Container Registry](https://docs.gitlab.com/ee/user/packages/container_registry/), etc.).

### Authorizing in Docker Hub
Create a [Docker Hub](https://hub.docker.com/signup) ID  and create a [private repository](https://hub.docker.com/repository/create) named `werf-guide-app`. We will store the built images in it.

Using the `docker login` command, log in to the new repository by entering the username and password of the Docker Hub user:
```shell
docker login
# Enter the name of the Docker Hub user
Username: <Docker Hub username>
# Enter the password of the Docker Hub user
Password: <Docker Hub password>
```

If the login is successful, you will see the following message:
```shell
Login Succeeded
```

### Creating a namespace
Let's create a namespace for our application:
```shell
kubectl create namespace werf-guide-app
```

You will see the following output:
```shell
namespace/werf-guide-app created
```

### Creating a Secret
Now it is time to create a Secret in the cluster. With it, our application can access the private repository:
```shell
kubectl create secret docker-registry registrysecret \
  --docker-server='https://index.docker.io/v1/' \
  --docker-username='<Docker Hub username>' \
  --docker-password='<Docker Hub password>'
```

You will see the following output:
```shell
secret/registrysecret created
```

{% offtopic title="If you need to recreate a secret" %}
kubectl delete secret docker-registry
{% endofftopic %}


> Note the `--docker-server` parameter. It must correspond to the address of the registry being used.
> For example, for GitHub Container Registry, this parameter must be set to `ghcr.io`, while for Docker Hub, 
> you can omit it and use the default value.

Now the environment is ready for work.

## The environment has stopped working

{% include 100_basic/20_cluster/frequent_issues.md.liquid %}
