:root {
  --main-color: #0066FF;
  --tabs-color: #D4D4D4;
  --active-tabs-color: #272821;
  --font-size-h2: 36px;
  --font-size-h3: 36px;
  --font-size-card-title: 16px;
  --font-size-card-text: 14px;
  --font-size-subtitle: 22px;
  --font-weight-h3: 400;
  --font-weight-subtitle: 700;
  --font-weight-card-title: 600;
  --font-weight-card-text: 300;
  --line-height-h3: 49px;
  --line-height-subtitle: 30px;
  --line-height-card-title: 22px;
  --line-height-card-text: 20px;
  --text-color-main: var(--main-color);
  --button-border-color: #F1F7FF;
  --button-hover-border-color: var(--main-color);
}

body {
  margin: 0;
  min-width: 1260px;
  overflow-y: scroll;
}

.page {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.16;
  position: relative;
}

html,
body,
.page {
  height: 100%;
}

.page__content {
  min-height: 100%;
  padding-bottom: 280px;
  margin-bottom: -280px;
  box-sizing: border-box;
}

.page__container {
  width: 1160px;
  margin: 0 auto;
  /*margin: 110px auto;*/
}

.page__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 56px;
  border-radius: 15px;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.page__btn_inline {
    display: inline-flex;
}

.page__btn .page__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.page__btn_b {
  background-color: #0066ff;
  color: #fff;
}

.page__btn_b:hover {
  color: #0066ff;
  background-color: #fff;
}

.page__btn_w {
  background-color: #ffffff;
  color: #0066ff;
}

.page__btn_w:hover {
  color: #ffffff;
  background-color: #0066ff;
}

.page__btn_w:hover .page__icon {
  filter: brightness(0) invert(100%);
}

.page__btn_o {
  box-sizing: border-box;
  border: 2px solid rgba(0, 102, 255, 0.1);
  color: #0066ff;
}

.page__btn_o:hover {
  border: 2px solid rgba(0, 102, 255, 0.5);
}

.page__btn-group {
  display: flex;
  flex-direction: row;
}

.page__btn-group>*:not(:last-child) {
  margin-right: 20px;
}

.page__btn_small {
  width: auto;
  height: 28px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
}

.page__icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page__icon_slack {
  background-image: url('/assets/images/icons/slack.svg');
}

.page__icon_telegram {
  background-image: url('/assets/images/icons/telegram.svg');
}

.page__icon_twitter {
  background-image: url('/assets/images/icons/twitter.svg');
}

.page__icon_github {
  background-image: url('/assets/images/icons/github.svg');
}

.page__icon_github-white {
  background-image: url('/assets/images/icons/github-icon-white.svg');
}

.page__icon_search {
  background-image: url('/assets/images/icons/search.svg');
}

.page__icon_rss {
    background-image: url('/assets/images/icons/rss.svg');
}

.page__icon_discussions {
    background-image: url('/assets/images/icons/discussions.svg');
}

.page__icon_block-title {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}

.page__icon_text {
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
}

.page__icon_link:hover {
  filter: brightness(0);
}

.page__input {
  padding: 0 24px;
  margin: 0;
  box-sizing: border-box;
  height: 56px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 56px;
  letter-spacing: -0.3px;
  background: #f7f9ff;
  color: #00122c;
  border: 2px solid rgba(0, 102, 255, 0);
  outline: none;
}

.page__input:hover {
  border: 2px solid rgba(0, 102, 255, 0.4);
}

.page__input:focus,
.page__input:active {
  border: 2px solid rgba(0, 102, 255, 1);
}

.page__input::placeholder {
  color: rgba(0, 18, 44, 0.3);
}

.page__icon_heart {
  background-image: url('/assets/images/icons/heart.png');
}

.title-h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  line-height: var(--line-height-h3);
  text-align: center;
}

.intro-banner {
  background: var(--main-color);
  margin-bottom: 75px;
}

.intro-banner .page__container {
  position: relative;
}

.intro-banner__background-shapes .left,
.intro-banner__background-shapes .right {
  position: absolute;
  bottom: -63px;
}

.intro-banner__background-shapes .left {
  left: -190px;
}

.intro-banner__background-shapes .right {
  right: -215px;
}

@media screen and (max-width: 1600px) {
  .intro-banner__background-shapes {
    display: none;
  }
}

.intro-banner__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 40px;
}

.intro-banner__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 76px;
  color: #fff;
  margin-bottom: 63px;
  text-align: center;
}

.intro-banner__links {
  display: flex;
  gap: 75px;
  margin-top: 35px;
}

.intro-banner__links-github {
  display: flex;
}

.intro-banner__github-icon {
  display: block;
  min-width: 42px;
}

.intro-banner__github-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  padding-left: 15px;
  border-radius: 10px;
  border: solid 2px #F1F7FF;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.intro-banner__github-counter::after {
  content: '';
  height: 100%;
  width: 32px;
  margin-left: 15px;
  background: url('/assets/images/icons/star.svg') center center no-repeat;
  filter: brightness(10);
  border-left: solid 2px #F1F7FF;
}

.intro-banner__github-counter:hover {
  background: #fff;
  color: var(--text-color-main);
}


.intro-banner__github-counter:hover,
.intro-banner__github-counter:hover::after {
  border-color: var(--main-color);
  filter: none;
}

.intro-banner__link-cncf {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.intro-banner__link-cncf a {
  display: flex;
  gap: 20px;
  color: inherit;
  text-decoration: none;
}

.tags__list {
  display: flex;
  justify-content: center;
  row-gap: 35px;
  column-gap: 23px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags__item {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 8px 18px;
  background: #fff;
  border-radius: 30px;
  margin-bottom: 23px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tags__list:last-child .tags__item {
  margin-bottom: 0;
}

.building-utility__pic img {
  display: block;
  max-width: 90%;
  margin: 0 auto 76px;
}

.features-card {
  margin-top: 45px;
  margin-bottom: 90px;
}

.features-card__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-card__item {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 20px;
  background: #FFFFFF;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card__item-icon {
  display: flex;
  min-height: 42px;
}

.card__item-title {
  font-size: var(--font-size-card-title);
  font-weight: var(--font-weight-card-title);
  line-height: var(--line-height-card-title);
}

.card__item-text {
  font-size: var(--font-size-card-text);
  font-weight: var(--font-weight-card-text);
  line-height: var(--line-height-card-text);
}

.card__item-text > p:first-child {
  margin-top: 0;
}

.card__item-text > p:last-child {
  margin-bottom: 0;
}

.subtitle-problem-number {
  font-weight: 600;
  padding: 0 9px;
  border: 2px solid #000;
  border-radius: 50%;
}

.what-problems-solve {
  margin: 90px 0;
}

.what-problems__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
  line-height: var(--line-height-subtitle);
  color: var(--main-color);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.what-problems__wrap {
  display: flex;
  align-items: center;
  gap: 65px;
}

.what-problems__grid {
  width: 55%;
}

.what-problems__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  grid-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.what-problems__pic {
  max-width: 480px;
  flex-grow: 1;
}

.what-problems__pic img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.demo-block {
  margin-top: 80px;
  margin-bottom: 110px;
}

.demo-block__title {
  /*font-size: var(--font-size-h3);*/
  /*font-weight: var(--font-weight-h3);*/
  /*line-height: var(--line-height-h3);*/
  /*text-align: center;*/
  margin-bottom: 70px;
}

.demo-block__tabs-wrap {
  display: flex;
  gap: 64px;
}

.demo-block__code {
  margin-top: 65px;
}

.code-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 336px;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.code-item {
  background: #FFFFFF;
  border: 1px solid #000;
}

.code-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 9px;
  border-bottom: 1px solid #000;
}

.code-item-text {
  display: flex;
  flex-direction: column;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #16110D;
  padding: 9px;
}

.code-item-text span > span {
  display: block;
  margin-left: 10px;
}

.demo-block__tabs {
  flex-grow: 1;
}

.tabs__nav {
  margin-bottom: 28px;
}

.tabs__nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs__nav-item {
  background: #FFF;
  border-radius: 12px;
}

.tabs__nav-item .button {
  background: none;
  box-sizing: border-box;
  padding: 8px 18px;
  border-radius: 12px;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  color: var(--text-color-main);
  border: 2px solid var(--button-border-color);
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}

.tabs__nav-item .button.active {
  color: #fff;
  background: var(--button-hover-border-color);
}

.tabs__nav-item .button:not(.active):hover {
  border: 2px solid rgba(0, 102, 255, 0.5);
}

.tabs__video-wrap {
  width: 760px;
  overflow: hidden;
  border-radius: 4px;
  background: #121314;
}

.tabs__video-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs__video-item-container {
  width: 760px;
  height: 658px;
}

.tabs__video-item-container .asciinema-player-wrapper {
  justify-content: flex-start;
}

.stats {
  position: relative;
  margin-top: 129px;
  margin-bottom: 110px;
}

/* .stats::before {
  content: '';
  display: block;
  width: 636px;
  height: 818px;
  position: absolute;
  top: -60px;
  left: 0px;
  background-repeat: no-repeat;
  background-image: url('../assets/images/backgrounds/stats.svg');
  background-position: center;
  z-index: 1;
} */

.stats__content {
  position: relative;
  z-index: 2;
  height: 342px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 10px 40px 0 rgba(0, 18, 44, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats__content::after {
  content: '';
  display: block;
  width: 168px;
  height: 134px;
  position: absolute;
  top: -20px;
  right: -20px;
  background-repeat: no-repeat;
  background-image: url('/assets/images/illustrations/stats.svg');
  z-index: 3;
}

.stats__title {
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00122c;
  margin-bottom: 55px;
}

.stats__list {
  box-sizing: border-box;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.stats__list-item {
  width: 280px;
}

.stats__list-item-num {
  color: #0066FF;
  font-size: 56px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 10px;
}

.stats__list-item-title {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #00122c;
  font-size: 24px;
  font-weight: bold;
}

.stats__list-item-subtitle {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #00122c;
}

.features {
  position: relative;
  padding-top: 136px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-position: center 120px;
  /*background-image: url('/assets/images/backgrounds/features.svg');*/
  z-index: 2;
}

.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__list-item {
  width: 450px;
  margin-bottom: 130px;
}

.features__list-item:nth-child(2n) {
  position: relative;
  top: 150px;
}

.features__list-item-icon {
  display: block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  margin: 0 0 20px -25px;
}

.features__list-item-icon_lifecycle {
  background-image: url('/assets/images/icons/feature-lifecycle.svg');
}

.features__list-item-icon_easy {
  background-image: url('/assets/images/icons/feature-easy.svg');
}

.features__list-item-icon_config {
  background-image: url('/assets/images/icons/feature-config.svg');
}

.features__list-item-icon_size {
  background-image: url('/assets/images/icons/feature-size.svg');
}

.features__list-item-icon_helm {
  background-image: url('/assets/images/icons/feature-helm.svg');
}

.features__list-item-icon_debug {
  background-image: url('/assets/images/icons/feature-debug.svg');
}

.features__list-item-icon_kubernetes {
  background-image: url('/assets/images/icons/feature-kubernetes.svg');
}

.features__list-item-icon_fast {
  background-image: url('/assets/images/icons/feature-fast.svg');
}

.features__list-item-icon_deploy {
  background-image: url('/assets/images/icons/feature-deploy.svg');
}

.features__list-item-icon_usage {
  background-image: url('/assets/images/icons/feature-usage.svg');
}

.features__list-item-title {
  font-size: 45px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #00122c;
  margin-bottom: 17px;
}

.features__list-item-title span {
  color: #0066FF;
}

.features__list-item-text {
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  color: rgba(0, 18, 44, 0.75);
}

.features__list-item-text ul, .features__list-item-text ol {
    margin-top: 10px;
}

.features__list-item-description {
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: rgba(0, 18, 44, 0.75);
}

.features__list-item-text a,
.features__list-item-description a {
  color: #0066FF;
  text-decoration: none;
}

.features__list-item-text a:hover,
.features__list-item-description a:hover {
  text-decoration: underline;
}

.features__list-item_special {
  position: relative;
}

.features__list-item_special:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -120px;
  left: -77px;
  width: 405px;
  height: 351px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('/assets/images/backgrounds/feature_special.svg');
}

.features__list-item_special:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -120px;
  left: 250px;
  width: 94px;
  height: 94px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('/assets/images/backgrounds/feature_special2.svg');
}

.community {
  position: relative;
  margin: 110px auto;
}

.community__content {
  position: relative;
  z-index: 2;
  height: 342px;
  background: #0066FF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.community__title {
  width: 100%;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 21px;
  position: relative;
}

.community__title::before {
  content: '';
  display: block;
  width: 133px;
  height: 206px;
  position: absolute;
  left: 62px;
  top: -90px;
  background-repeat: no-repeat;
  background-image: url('/assets/images/illustrations/community.svg');
  background-position: center;
}

.community__title::after {
  content: '';
  display: block;
  width: 133px;
  height: 140px;
  position: absolute;
  right: -50px;
  top: -140px;
  background-repeat: no-repeat;
  background-image: url('/assets/images/illustrations/community2.svg');
  background-position: center;
}

.community__subtitle {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 64px;
}

.community__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.community__btn {
  margin: 0 20px;
}

.publications {
  justify-content: center;
  margin: 150px auto 110px;
}

.publications__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 342px; */
  z-index: 2;
  background: #fff;
  /* border-radius: 10px; */
  /* justify-content: center; */
}

.publications__title {
  width: 100%;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  margin-bottom: 21px;
  position: relative;
}

.publications__title::before {
  content: '';
  display: block;
  width: 133px;
  height: 206px;
  position: absolute;
  left: 0;
  top: -50px;
  background-repeat: no-repeat;
  background-image: url('/assets/images/illustrations/publications-1.svg');
  background-position: center;
}

.publications__subtitle {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #000;
  margin-bottom: 64px;
}

.publications__cards{
  margin-bottom: 50px;
}

.publications__cards--list {
  list-style: none;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 0;
}

.publications__cards--list::after {
  content: '';
  display: block;
  width: 133px;
  height: 140px;
  position: absolute;
  right: -65px;
  bottom: -85px;
  background-repeat: no-repeat;
  background-image: url('/assets/images/illustrations/publications-2.svg');
  background-position: center;
}

@media screen and (max-width: 1300px) {
  .publications__cards--list::after {
    right: -50px;
  }
}

.publications__cards--item {
  /* display: flex;
  flex-direction: column; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  z-index: 5;
  transition: all .3s;
}

.publications__cards--item:hover {
  box-shadow: 0px 0px 20px rgba(0, 102, 255, 0.4);
}

.publications__cards--link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.publications__cards--pic {
  background-repeat: no-repeat;
  /* background-image: url('/assets/images/illustrations/test-pic.jpg'); */
  background-position: center;
  background-size: 100%;
  display: block;
  width: 100%;
  height: 145px;
}

.publications__cards--title {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  padding: 15px 20px;
}

.publications__cards--date {
  font-size: 12px;
  line-height: 16px;
  color: #AAB4C2;
  padding-left: 20px;
  padding-bottom: 20px;
}

.documentation-block {
  margin: 110px auto;
  margin-bottom: 150px;
}

.documentation {
  position: relative;
  z-index: 3;
  /*padding-top: 155px;*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.documentation__image {
  width: 260px;
  height: 147px;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url('/assets/images/illustrations/documentation.svg');
}

.documentation__info {
  width: 560px;
}

.documentation__info-title {
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00122c;
  margin-bottom: 25px;
}

.documentation__info-text {
  opacity: 0.7;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #00122c;
}

.documentation__info-text a {
  color: #0166FF;
  text-decoration: none;
}

.documentation__info-text a:hover {
  text-decoration: underline;
}

.documentation__btn {
  margin-bottom: 25px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*width: 1160px;*/
  margin: 0 auto;
  margin-top: 48px;
  /*padding-bottom: 66px;*/
  /*flex-direction: row;*/
  padding-top: 41px;
  padding-bottom: 31px;
  border-top: 1px solid #F1F7FF;
  z-index: 2;
}

.footer__wrap {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
}

.footer__block-cncf a,
.footer__block-flant {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.footer__block-cncf img {
  max-width: 250px;
  margin-bottom: 15px;
}

.footer__block-flant img {
  max-width: 100px;
  margin-bottom: 15px;
}

.footer__block-cncf-text,
.footer__block-flant-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.footer__text {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #AAB4C2;
  margin-top: 53px;
}

.footer__text a {
  color: #AAB4C2;
}

.footer__gen {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: -0.3px;
  color: #00122c;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background: #eef2ff;
  white-space: nowrap;
  border-radius: 4px;
}

.popup {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(50, 50, 50, 0.7);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.popup.active {
  display: flex;
}

.popup__content {
  position: relative;
  box-sizing: border-box;
  width: 600px;
  border-radius: 10px;
  padding: 50px;
  background: #0166FF;
  box-shadow: 0 10px 40px 0 rgba(0, 18, 44, 0.1);
  text-align: center;
  color: #fff;
}

.popup__content:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('/assets/images/icons/slack.svg');
  background-size: contain;
  filter: brightness(0) invert(100%);
  position: absolute;
  top: -30px;
  left: -30px;
}

.popup__content:after {
  content: '';
  display: block;
  width: 133px;
  height: 140px;
  position: absolute;
  right: -60px;
  bottom: -100px;
  background-repeat: no-repeat;
  background-image: url('/assets/images/illustrations/community2.svg');
  background-position: center;
}

.popup__text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 15px;
}

.popup__title {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.popup__subtitle {
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 5px;
}

.popup__title a {
  color: #FFF;
  opacity: 0.7;
  text-decoration: none;
}

.popup__title a:hover {
  text-decoration: underline;
}

.popup__btn {
  width: auto;
  margin-bottom: 30px;
}

.popup__close {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.popup__close:hover {
  color: #000;
}

.error-image {
  position: absolute;
  bottom: 150px;
  right: 0px;
  z-index: -1;
}

.error-image img {
  width: 640px;
}

.tooltip {
  font-family: 'Open Sans', sans-serif;
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.news-and-updates {
  position: fixed;
  z-index: 420;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 10px 40px 0 rgba(0, 18, 44, 0.1);

  box-sizing: border-box;
  width: 1160px;
  padding: 20px 25px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.news-and-updates__active {
  opacity: 1;
  pointer-events: all;
}

.news-and-updates__block {
  width: 45%;
}

.news-and-updates__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #0066FF;
}

.news-and-updates__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-and-updates__item-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #00122c;
  transition: all 0.3s ease-in-out;
}

.news-and-updates__item-link:hover {
  color: #0066FF;
}

.news-and-updates__item-sub {
  color: #00122c;
  font-size: 10px;
  line-height: 14px;
  opacity: 0.7;
  margin-top: 2px;
}
