.page_installation {
  margin-top: 30px;
}

.installation-selector-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.installation-selector-row > * {
  margin-right: 40px;
}

.installation-selector__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 18, 44, 0.25);
}

#installation__release-channels.installation-selector__title {
  display: flex;
  align-items: center;
}

.installation__release-channels--link{
  color: #0066FF;
  text-decoration: none;
}

#installation__release-channels span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('images/icons/question_mark.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .2;
  margin-left: 7px;
}

.installation-instruction__tab-content {
  display: none;
}

.installation-instruction__tab-content.active {
  display: block;
}
