.page_installation {
  margin-top: 30px;
}

.installation-selector-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.installation-selector-row > * {
  margin-right: 40px;
}

.installation-selector__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 18, 44, 0.25);
}

.installation-instruction__tab-content {
  display: none;
}

.installation-instruction__tab-content.active {
  display: block;
}
