html {
    min-width: 640px;
}

html,
body,
.landing {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #00122c;
    min-width: 640px;
}

.landing {
    position: relative;
}

.landing__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: auto;
}

.landing__container {
    padding: 0 100px;
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
}

.landing__side {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 100vh;
    background: #F3F7FF;
}

.landing__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 110px;
    box-sizing: border-box;
    padding-bottom: 20px;
    background: #ffffff;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.landing__header > div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.landing__header-title {
    font-size: 0;
}

.landing__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #0066FF;
    height: 40px;
    padding: 0 25px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 300ms ease;
}

.landing__button_small {
    height: 25px;
    border-radius: 25px;
    font-size: 12px;
    line-height: 18px;
}

.landing__button img {
    margin: 0 20px 0 0;
}

.landing__button_small img {
    margin: 0 10px 0 0;
}

.landing__button span+img {
    margin: 0 0 0 20px;
}

.landing__button_small span+img {
    margin: 0 0 0 10px;
}

.landing__button img.flip-horizontal {
    transform: scaleX(-1);
}

.landing__button_disabled {
    background: rgba(0, 18, 44, 0.35);
    color: #fff;
}

.landing__button:not(.landing__button_disabled):hover,
.landing__button:not(.landing__button_disabled):focus,
.landing__button:not(.landing__button_disabled):active {
    background: #00122c;
}

.landing__section {
    margin-top: 25vh;
}

.landing__section_first {
    margin-top: 35vh;
}

.landing__section_short {
    margin-top: 5vh;
}

.landing__h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    margin: 0 0 40px 0;
}

.landing__h1 b {
    font-weight: 800;
    color: #0066FF;
}

.landing__h2 span {
    opacity: 0.35;
}

.landing__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 18, 44, 0.75);
}

.landing__text a {
    color: #0066FF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.landing__text a:hover {
    color: #00122c;
}

.landing__text b {
    color: #00122c;
    font-weight: 600;
}

.landing__text p {
    margin: 0 0 20px 0;
}

.landing__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

.landing__list li {
    margin: 20px 0px;
    position: relative;
    padding-left: 30px;
}

.landing__list li:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0066FF;
    position: absolute;
    top: 9px;
    left: 7px;
}

.landing__list li span {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: rgba(0, 18, 44, 0.75);
}

.landing__list li a {
    color: #0066FF;
    text-decoration: none;
    transition: color 300ms ease;
}

.landing__list li a:hover,
.landing__list li a:focus {
    color: #00122c;
}

.landing__frameworks {
    padding: 0;
    margin: 35px 0 0 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.landing__framework {
    box-sizing: border-box;
    padding: 30px 20px;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px rgba(0, 18, 44, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.landing__framework-logo_disabled {
    filter: grayscale(1);
    opacity: 0.55;
}

.landing__framework .landing__button {
    margin-top: 30px;
}

.landing__credits {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 18, 44, 0.75);
    padding-bottom: 30px;
}

.landing__credits .icon {
    font-size: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: asset_url("icons/heart.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.landing__credits a {
    color: #0066FF;
    text-decoration: none;
    transition: color 300ms ease;
}

.landing__credits a:hover,
.landing__credits a:focus {
    color: #00122c;
}

.landing__captain {
    height: 100vh;
    width: 60%;
    margin: auto 20%;
    position: relative;
}

.landing__captain-img {
    opacity: 0;
    transition: all 500ms ease-in-out;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px;
}

.landing__captain-img_select {
    transform: translateY(-50%) scale(1.2);
}

.landing__captain[data-sm-captain="intro"] .landing__captain-img_intro,
.landing__captain[data-sm-captain="plan"] .landing__captain-img_plan,
.landing__captain[data-sm-captain="todo"] .landing__captain-img_todo,
.landing__captain[data-sm-captain="select"] .landing__captain-img_select {
    opacity: 1;
    transition-delay: 250ms;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-top: 41px;
    padding-bottom: 31px;
    border-top: 1px solid #F1F7FF;
    z-index: 2;

    & .page__container {
        padding: 0 100px;
    }
}

.footer__wrap {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.footer__text {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #AAB4C2;
    margin-top: 53px;
}

.footer__block-cncf a,
.footer__block-flant a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.footer__block-cncf img {
    max-width: 250px;
    margin-bottom: 15px;
}

.footer__block-flant img {
    max-width: 100px;
    margin-bottom: 15px;
}

.footer__block-cncf-text,
.footer__block-flant-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

@media (max-width: 1600px) {
    .landing__container,
    .footer .page__container {
        padding: 0 60px;
    }

    .landing__content,
    .landing__header,
    .footer {
        width: 70%;
    }

    .landing__side {
        width: 30%;
    }
}

@media (max-width: 1250px) {
    .landing__container,
    .footer .page__container {
        padding: 0 30px;
    }

    .landing__frameworks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .landing__side {
        display: none;
    }

    .landing__content,
    .landing__header,
    .footer {
        width: 100%;
    }

    .landing__section {
        margin-top: 100px;
    }

    .landing__section_first {
        margin-top: 200px;
    }

    .landing__text br {
        display: none;
    }
}
