<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1260">
  <meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
  {%- if page.multilang %}
  <link rel="alternate" hreflang="ru" href="{{ site.site_urls["ru"] }}{{ site.baseurl}}{{ page.url }}" />
  <link rel="alternate" hreflang="en" href="{{ site.site_urls["en"] }}{{ site.baseurl}}{{ page.url }}" />
  {%- endif %}
  <title>{{ page.title }} | {{ site.site_title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
  {% asset normalize.css %}
  {% asset syntax.css %}
  {% asset header.css %}
  {% asset docs.css %}
  {% asset index.css %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.2/anchor.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
  {% asset details.js %}
  {% asset tab.js %}
  {% asset popup.js %}
  {% asset customscripts.js %}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="page">
    <div class="page__content">
      <div class="header">
        <div class="page__container">
          <ol class="breadcrumbs">
            <li>
              <a href="/">Начало</a>
            </li>
            <li>
               <a href="/documentation/">Документация</a>
            </li>
            <li>
              <a href="/documentation/guides.html">Руководства</a>
            </li>
            {%- if page.label_framework %}
            <li>
              {{ page.label_framework }}
            </li>
            {%- endif %}
         </ol>
        </div>
      </div>

      <!-- Page Content -->
      <div class="page__container">
        <div class="layout-sidebar">
          <div class="layout-sidebar__sidebar">
            <div id="menu-widget"><menu-widget framework="{{ page.label_framework }}" ci="{{ page.label_ci }}" guide-code="{{ page.guide_code }}" base-url="{{ site.baseurl }}"></menu-widget></div>

            {% assign sidebar = site.data.sidebars[page.sidebar].entries[page.lang] %}
            <ul id="mysidebar" class="sidebar sidebar_static">
              {%- for folder in sidebar.f %}
              {% if folder.sf %}
              <li class="sidebar__item sidebar__item_parent {%- if page.url contains folder.url %} active{%- endif %}">
                <a href="{{ site.baseurl }}/{{ page.guide_code }}/{{ folder.url }}" data-subhref="{{ folder.url }}">{{ folder.title }}</a>
                <ul class="sidebar__submenu">
                  {%- for subfolders in folder.sf %}
                  {%- if subfolders.external_url %}
                  <li class="sidebar__submenu-item"><a href="{{ subfolders.external_url }}" target="_blank">{{subfolders.title}}</a></li>
                  {%- elsif page.url contains subfolders.url %}
                  <li class="sidebar__submenu-item active"><a href="{{ site.baseurl }}/{{ page.guide_code }}/{{ subfolders.url }}" data-subhref="{{ subfolders.url }}">{{subfolders.title}}</a></li>
                  {%- else %}
                  <li class="sidebar__submenu-item"><a href="{{ site.baseurl }}/{{ page.guide_code }}/{{ subfolders.url }}" data-subhref="{{subfolders.url}}">{{subfolders.title}}</a></li>
                  {%- endif %}
                  {%- endfor %}
                </ul>
              </li>
              {%- elsif folder.external_url %}
              <li class="sidebar__item"><a href="{{ folder.external_url }}" target="_blank">{{folder.title}}</a></li>
              {%- elsif page.url contains folder.url %}
              <li class="sidebar__item active"><a href="{{ site.baseurl }}/{{ page.guide_code }}/{{ folder.url }}" data-subhref="{{ folder.url }}">{{folder.title}}</a></li>
              {%- else %}
              <li class="sidebar__item"><a href="{{ site.baseurl }}/{{ page.guide_code }}/{{ folder.url }}" data-subhref="{{folder.url}}">
                {{folder.title}}
              </a></li>
              {%- endif %}
              {%- endfor %}
            </ul>

            <div class="sidebar__btns">
              <a href="https://t.me/werf_ru" target="_blank" class="sidebar__btn" title="Задать вопрос в Telegram">
                <span class="sidebar__btn-icon sidebar__btn-icon_telegram"></span>
                Есть вопрос? Ответим
              </a>
              <a href="https://github.com/werf/werf" target="_blank" class="sidebar__btn" title="Поставить звезду на GitHub">
                <span class="sidebar__btn-icon sidebar__btn-icon_github"></span>
                Понравилось? Поставь звезду
              </a>
            </div>
          </div>
          <div class="layout-sidebar__content">
            <div class="content__header">
              <div class="content__title">Разворачиваем приложение {% if page.label_framework %}на <span>{{ page.label_framework }}</span> {% endif %}в среде Kubernetes</div>
            </div>
            <div class="docs">
              {%- if page.name != '404.md' %}
              <div class="buttons">
                <div class="button__white button__white_smalloffsets">
                    <a href="{{ site.editlink }}/{{ page.path }}">Редактировать страницу</a>
                </div>
                <div class="button__white button__white_smalloffsets">
                    <a href="{{ site.issuelink }}">Завести issue</a>
                </div>
              </div>
              {%- endif %}
              <h1 class="docs__title">{{ page.title }}</h1>
              <div class="post-content">
                {{content}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-toast"></div>
    </div>
    <div class="footer">
      <div class="footer__credits">
        Сделано с <span class="page__icon page__icon_heart"></span> в компании <a href="{{ site.company_url }}" target="_blank">{{ site.company_name }}</a>
      </div>
      <div class="footer__github">
        <span class="page__icon page__icon_github footer__github-icon"></span>
        <a href="https://github.com/werf/werf" class="footer__github-counter">
          <span class="footer__github-counter-num"><span class="gh_counter">2000</span></span>
        </a>
      </div>
      <div class="footer__gen" id="siteGenerationTime" hidden>
        Дата генерации сайта: {{ site.time | date: "%e.%m.%Y, %H:%M %z"  }}
      </div>
      <div id="werfVersion" hidden>{{ site.werfVersion }}</div>
      <div id="werfChannel" hidden>{{ site.werfChannel }}</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"></script>
  </div>
  {% include scripts.html %}
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(67759933, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/67759933" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>
</html>
