<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Labels count notification</h1>
    <p>
      There are currently <%= @labels_count %> labels exists in the database.
    </p>
  </body>
</html>
