<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Labels</title>

        <%= javascript_pack_tag 'labels' %>
        <%= stylesheet_pack_tag 'styles/labels' %>
    </head>
    <body>
        <div class="content">
          <img src="<%= asset_pack_path 'media/images/werf-logo.svg' %>"  alt="werf logo"/>
          <h1>Labels in <span id="environment">NONE</span> environment!</h1>
          <p><strong>List of labels from backend: </strong><span id="content"></span></p>
          <p><strong>Link from config: </strong> <a href="#" id="link">here</a></p>
        </div>
    </body>
</html>
