<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1260">
  <meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
  {%- if page.multilang %}
  <link rel="alternate" hreflang="ru" href="{{ site.site_urls['ru'] }}{{ site.baseurl}}{{ page.url }}" />
  <link rel="alternate" hreflang="en" href="{{ site.site_urls['en'] }}{{ site.baseurl}}{{ page.url }}" />
  {%- endif %}
  <title>{{ page.title }} {% if page.framework_name %}| {{ page.framework_name }} {% endif %}| {{ site.site_title }}</title>

  <!--#include virtual="/includes/head-common.html" -->

  {% asset clipboard.min.js %}
  {% asset customscripts.js %}
  {% asset docs.css %}
  {% asset guides.css %}
</head>
<body>
  <div class="page">
    <div class="page__content">

      <!--#include virtual="/includes/topnav.html" -->

      <!-- Page Content -->
      <div class="page__container">
      {% include breadcrumbs.html %}

        <div class="layout-sidebar">
          <div class="layout-sidebar__sidebar">
          {% include sidebar.html %}
          {% include ask_and_star_buttons.html %}
          </div>
          <div class="layout-sidebar__content">
            <div class="content__header">
              {%- if page.lang == 'en' %}
              <div class="content__title">Deploying {% if page.framework_name %}<span>{{ page.framework_name }}</span> {% endif %}application to Kubernetes</div>
              {%- else %}
              <div class="content__title">Разворачиваем приложение {% if page.framework_name %}на <span>{{ page.framework_name }}</span> {% endif %}в среде Kubernetes</div>
              {%- endif %}
            </div>
            <div class="docs">
              {%- if page.name != '404.md' %}
              <div class="btn-group editme">
                  <a href="{{ site.editlink }}/{{ page.path }}" class="btn btn_o" id="editme_link" target="_blank">
                      <span class="btn__icon btn__icon_github"></span>
                      Source
                  </a>
              </div>
              {%- endif %}
              <h1 class="docs__title">{{ page.title }}</h1>
              <div class="post-content">
                {{content}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-toast"></div>
    </div>
    <!--#include virtual="/includes/footer.html" -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.4/scrollMonitor.js"></script>
  </div>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(67759933, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/67759933" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>
</html>
