---
layout: default-guides
---

<div class="page__container">
    {% include layouts/guides/page_to_page_guide.liquid %}
    {% include layouts/guides/breadcrumbs.html %}

    <div class="layout-sidebar">
        <div class="layout-sidebar__sidebar">
            {% include layouts/guides/sidebar.html.liquid %}
            {% include layouts/guides/ask_and_star_buttons.html %}
        </div>
        <div class="layout-sidebar__content">
            <div class="docs">
                {%- if page.name != '404.md' %}
                <div class="btn-group editme">
                    <a href="{{ site.editlink }}/{{ page.path }}" class="btn btn_o" id="editme_link" target="_blank">
                        <span class="btn__icon btn__icon_github"></span>
                        Source
                    </a>
                </div>
                {%- endif %}
                <h1 class="docs__title">{{ page_title }}</h1>
                <div class="post-content">
                  {% if page.layout == "guides-wip" %}
                    <div class="in-development open-content__border">
                      <div class="in-development__content">
                        {%- if page.lang == 'en' %}
                        <div class="in-development__content--title">
                          This guide<br />is work in progress
                        </div>
                        <div class="in-development__content--subtitle">
                          Warning: it is raw and has some white spots
                        </div>
                        {% else %}
                        <div class="in-development__content--title">
                          Данный гайд<br/>находится в разработке
                        </div>
                        <div class="in-development__content--subtitle">
                          Внимание: это грубый черновик <br /> и тут есть белые пятна
                        </div>
                        {%- endif %}
                      </div>
                      <div class="in-development__image"></div>
                    </div>
                  {% endif %}
                  {%- unless page.toc == false %}
                    {%- include common/toc.html %}
                  {%- endunless %}
                  {{ content }}
                  <div class="guides-post__nav">
                    <div class="guides-post__nav--prev">
                      {% if index <= 0 and sections.f.first %}
                        <a href="{{ prev_url }}" style="visibility: hidden;"></a>
                      {% elsif index_sub <= 0 %}
                        {% if page.lang == 'en' %}
                          <a href="{{ main_path_prev }}" class="guides-post__nav--link">
                            <div class="guides-post__nav-arrow ">
                              <span class="btn__icon--prev arrow-guides"></span>
                            </div>
                            prev
                          </a>
                        {% else %}
                          <a href="{{ main_path_prev }}" class="guides-post__nav--link">
                            <div class="guides-post__nav-arrow">
                              <span class="btn__icon--prev arrow-guides"></span>
                            </div>
                            назад
                          </a>
                        {% endif %}
                      {% else %}
                        {% if page.lang == 'en' %}
                          <a href="{{ prev_url }}" class="guides-post__nav--link">
                            <div class="guides-post__nav-arrow">
                              <span class="btn__icon--prev arrow-guides"></span>
                            </div>
                            prev
                          </a>
                        {% else %}
                          <a href="{{ prev_url }}" class="guides-post__nav--link">
                            <div class="guides-post__nav-arrow">
                              <span class="btn__icon--prev arrow-guides"></span>
                            </div>
                            назад
                          </a>
                        {% endif %}
                      {% endif %}
                    </div>
                    <div class="guides-post__nav--next">
                      {% if index_sub >= subsection_size and sections.f[index_next] == nil %}
                        <a href="{{ next_url }}" style="visibility: hidden;"></a>
                      {% elsif index_sub >= subsection_size and folder_page == nil %}
                        <a href="{{ next_url }}" style="visibility: hidden;"></a>
                      {% elsif index_sub >= subsection_size and folder_page != nil %}
                        {% if page.lang == 'en' %}
                          <a href="{{ main_path_next }}" class="guides-post__nav--link">
                            <div class="guides-post__nav-arrow">
                              <span class="btn__icon--prev arrow-guides"></span>
                            </div>
                            next
                          </a>
                        {% else %}
                          <a href="{{ main_path_next }}" class="guides-post__nav--link">
                            <div class="guides-post__nav-arrow">
                              <span class="btn__icon--prev arrow-guides"></span>
                            </div>
                            далее
                          </a>
                        {% endif %}
                      {% else %}
                        {% if page.lang == 'en' %}
                          <a href="{{ next_url }}" class="guides-post__nav--link">
                            <div class="guides-post__nav-arrow">
                              <span class="btn__icon--prev arrow-guides"></span>
                            </div>
                            next
                          </a>
                        {% else %}
                          <a href="{{ next_url }}" class="guides-post__nav--link">
                            <div class="guides-post__nav-arrow">
                              <span class="btn__icon--prev arrow-guides"></span>
                            </div>
                            далее
                          </a>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="action-toast"></div>
