---
layout: page_base
---

<div class="post-content open-content_container">
  <div class="in-development open-content__border">
    <div class="in-development__image"></div>
    <div class="in-development__content">
      {%- if page.lang == 'en' %}
      New chapters of the guide will be available soon!<br/>The page is under construction.<br/><br/>
      <div class="open-content_button">Show me the available chapters</div>
      {% else %}
      Прямо сейчас мы пишем новые главы самоучителя!<br/>Эта страница находится в разработке.<br/><br/>
      <div class="open-content_button">Показать, что уже готово</div>
      {%- endif %}
    </div>
  </div>

  <div class="open-content_content">
    {{- page.description | markdownify }}

    {%- if page.chapter_production_disclaimer %}
        {%- capture production_disclaimer %}
            {%- include chapter_production_disclaimer.md.liquid %}
        {%- endcapture %}
        {{- production_disclaimer | markdownify }}
    {%- endif %}

    {%- if page.chapter_initial_prepare_cluster %}
        {%- capture prepare_cluster %}
            {%- include chapter_initial_prepare_cluster.md.liquid %}
        {%- endcapture %}
        {{- prepare_cluster | markdownify }}
    {%- endif %}

    {%- if page.chapter_initial_prepare_repo %}
        {%- capture prepare_repo %}
            {%- include chapter_initial_prepare_repo.md.liquid examples_to=page.examples examples_from=page.examples_initial no_changes=page.chapter_initial_prepare_repo_no_changes %}
        {%- endcapture %}
        {{- prepare_repo | markdownify }}
    {%- endif %}

    {{ content }}
  </div>
</div>
