<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1260">
  <meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
  {%- if page.multilang %}
  <link rel="alternate" hreflang="ru" href="{{ site.site_urls["ru"] }}{{ site.baseurl}}{{ page.url }}" />
  <link rel="alternate" hreflang="en" href="{{ site.site_urls["en"] }}{{ site.baseurl}}{{ page.url }}" />
  {%- endif %}
  <title>{{ page.title }} | {{ site.site_title }}</title>

  <!--#include virtual="/includes/head-common.html" -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  {% asset customscripts.js %}
  {% asset docs.css %}
  {% asset guides.css %}
</head>
<body>
  <div class="page">
    <div class="page__content">

      <!--#include virtual="/includes/topnav.html" -->

      <!-- Page Content -->
      <div class="page__container">
      {% include breadcrumbs.html %}

        <div class="layout-sidebar">
          <div class="layout-sidebar__sidebar">
            <div id="menu-widget"><menu-widget framework="{{ page.label_framework }}" ci="{{ page.label_ci }}" guide-code="{{ page.guide_code }}" base-url="{{ site.baseurl }}"></menu-widget></div>

            {% include sidebar.html %}
          </div>
          <div class="layout-sidebar__content">
            <div class="content__header">
              <div class="content__title">Deploying {% if page.label_framework %}<span>{{ page.label_framework }}</span> {% endif %}application to Kubernetes</div>
            </div>
            <div class="docs">
              <div class="buttons">
                <div class="button__white button__white_smalloffsets">
                    <a href="{{ site.editlink }}/{{ page.path }}">Edit page</a>
                </div>
                <div class="button__white button__white_smalloffsets">
                    <a href="{{ site.issuelink }}">Create issue</a>
                </div>
              </div>
              <h1 class="docs__title">{{ page.title }}</h1>
              <div class="post-content">

                <div class="in-development">
                  <div class="in-development__image"></div>
                  <div class="in-development__content">
                    New chapters of the guide will be available soon!<br/>The page is under construction.
                  </div>
                </div>

<!--                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdBx-c_pUq5OnCuy73lDihVS5hoUrBkREdhu58R8ngEEfLRIQ/viewform?embedded=true" width="800" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>-->

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-toast"></div>
    </div>
    <!--#include virtual="/includes/footer.html" -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.4/scrollMonitor.js"></script>
  </div>
  {% include scripts.html %}
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(67759933, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/67759933" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>
</html>
