<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
  {%- if page.multilang %}
  <link rel="alternate" hreflang="ru" href="{{ site.site_urls["ru"] }}{{ site.baseurl}}{{ page.url }}" />
  <link rel="alternate" hreflang="en" href="{{ site.site_urls["en"] }}{{ site.baseurl}}{{ page.url }}" />
  {%- endif %}
  <title>{{ page.title }} | {{ site.site_title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">

  {% asset normalize.css %}
  {% asset syntax.css %}

  {% asset landing.css %}

</head>
<body data-sm-container>
  <div class="landing">
    <div class="landing__header">
      <div class="landing__container">
        <a href="/" class="landing__header-title">
          <img src="{{ site.baseurl }}/assets/werf-logo.svg" alt="werf" width="167" height="70" />
        </a>
        <a href="http://werf.io" class="landing__button">
          <img src="{{ site.baseurl }}/assets/arrow.svg" />
          <span>werf.io</span>
        </a>
      </div>
    </div>
    <div class="landing__content">
      <div class="landing__container">
        <div class="landing__section landing__section_first" data-sm-trigger="intro">
          <h1 class="landing__h1">
            Deploy to&nbsp;Kubernetes<br>
            quickly and&nbsp;effortlessly<br>
            using&nbsp;<b>werf</b>
          </h1>
          <div class="landing__text">
            In this free tutorial, you will learn<br>
            how to&nbsp;deploy complex applications to&nbsp;Kubernetes<br>
            by implementing a&nbsp;CI/CD process using the werf Open Source utility.
          </div>
        </div>
        <div class="landing__section" data-sm-trigger="plan">
          <h1 class="landing__h2">
            What am I getting into?
          </h1>
          <div class="landing__text">
            <p>This tutorial provides reasonably detailed information that combines the <b>theory and practice</b> of development (Dev) and operation (Ops).</p>
            <p>Its contents are aimed at developers seeking to acquire basic DevOps skills in organizing the continuous delivery of applications to Kubernetes. The DevOps engineers who want to solve their tasks more efficiently will also benefit from this tutorial.</p>
            <p>We will gradually consider all the tasks related to&nbsp;developing services and implementing the CI/CD process: <b>building</b>, <b>deploying</b>, <b>working with dependencies and&nbsp;assets</b>, <b>working with databases and&nbsp;in-memory storage</b>, <b>using e-mail and&nbsp;file storage</b>, <b>implementing autotests</b>, and&nbsp;more.</p>
            <p>Each version of&nbsp;the&nbsp;tutorial takes into account the specifics of the programming language/framework and includes examples of the application source code and infrastructure (IaC).</p>
            <p><i>This tutorial is based on a&nbsp;plain "vanilla" Kubernetes cluster. However, you can easily adapt it for&nbsp;custom builds.</i></p>
          </div>
        </div>
        <div class="landing__section" data-sm-trigger="todo">
          <h1 class="landing__h2">
            What's in it for me?
          </h1>
          <div class="landing__text">
            <p>Mastering the skills using a self-study guide is a difficult challenge. You have to find the time, work hard, and focus on the process.</p>
            <p>Those who have the strength to go all the way to the end will be able to:</p>
          </div>
          <ul class="landing__list">
            <li>
              Gain expertise and better market their skills to employers
              <span>(in the area that combines the development and operation and commonly referred to as DevOps)</span>
            </li>
            <li>
              Introduce Kubernetes to their company
              <span>(and get a discount on the Kubernetes cluster from Flant)</span>
            </li>
            <li>
              Learn how to solve problems in their company more efficiently
            </li>
          </ul>
          <div class="landing__text">
            <p>This tutorial will help you focus on your needs, and the <a href="https://t.me/werf_io">werf user community</a> will make it easier to overcome any obstacles along the way.</p>
          </div>
        </div>
        <div class="landing__section" data-sm-trigger="select">
          <h1 class="landing__h2">
            werf 1.2
          </h1>
          <ul class="landing__frameworks">
            <li class="landing__framework">
              <img src="{{ site.baseurl }}/assets/landing/nodejs.png" width="129" height="79" class="landing__framework-logo" />
              <a href="nodejs/100_basic.html" class="landing__button landing__button_small">
                <span>Node.js</span>
                <img src="{{ site.baseurl }}/assets/arrow.svg" class="flip-horizontal" height="12" />
              </a>
            </li>
            <li class="landing__framework">
              <img src="{{ site.baseurl }}/assets/landing/springboot.png" width="149" height="78" class="landing__framework-logo" />
                <a href="java_springboot/100_basic.html" class="landing__button landing__button_small">
                    <span>Spring Boot</span>
                    <img src="{{ site.baseurl }}/assets/arrow.svg" class="flip-horizontal" height="12" />
                </a>
              </span>
            </li>
            <li class="landing__framework">
              <img src="{{ site.baseurl }}/assets/landing/django.png" width="156" height="54" class="landing__framework-logo" />
              <span class="landing__button landing__button_small landing__button_disabled">
                <span>soon...</span>
              </span>
            </li>
            <li class="landing__framework">
              <img src="{{ site.baseurl }}/assets/landing/go.svg" width="134" height="50" class="landing__framework-logo" />
              <span class="landing__button landing__button_small landing__button_disabled">
                <span>soon...</span>
              </span>
            </li>
            <li class="landing__framework">
              <img src="{{ site.baseurl }}/assets/landing/rails.svg" width="156" height="54" class="landing__framework-logo" />
              <span class="landing__button landing__button_small landing__button_disabled">
                <span>soon...</span>
              </span>
            </li>
            <li class="landing__framework">
              <img src="{{ site.baseurl }}/assets/landing/laravel.svg" width="175" height="51" class="landing__framework-logo" />
              <span class="landing__button landing__button_small landing__button_disabled">
                <span>soon...</span>
              </span>
            </li>
          </ul>
        </div>
        <div class="landing__section">
          <div class="landing__credits">
            Made with <span class="icon">love</span> by <a href="https://flant.ru/" target="_blank">Flant</a>
          </div>
        </div>
      </div>
    </div>
    <div class="landing__side">
      <div class="landing__captain" data-sm-captain="intro">
        <img src="{{ site.baseurl }}/assets/landing/parrot.png" class="landing__captain-img landing__captain-img_intro" />
        <img src="{{ site.baseurl }}/assets/landing/parrot.png" class="landing__captain-img landing__captain-img_plan" />
        <img src="{{ site.baseurl }}/assets/landing/parrot.png" class="landing__captain-img landing__captain-img_todo" />
        <img src="{{ site.baseurl }}/assets/landing/parrot.png" class="landing__captain-img landing__captain-img_select" />
      </div>
    </div>
  </div>
  {% include scripts.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.4/scrollMonitor.js"></script>

  {% asset landing.js %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(67759933, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/67759933" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>
</html>
