form.chat {
  background: #fff;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-color: #000;
  border-top-style: solid;
  border-top-width: 1px;
  height: 5%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 95%;
  overflow-y: scroll;
  background-color: #eee;
}

#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
