name: Content Validation

on:
  push:
    paths:
      - '.github/workflows/content_validation.yml'
      - '**/*.md'
      - '**/*.html'

env:
  WERF_ENV: "production"

jobs:
  check_links:
    container: jekyll/builder:4
    name: Check broken links
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        lang: [ ru, en ]
    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Prepare environment
        run: |
          chmod 777 Gemfile.lock
          bundle install
          mkdir -pm 777 .jekyll-cache _site
          chmod -R 777 assets/images/plantuml_cache

      - name: Build
        run: bundle exec jekyll build --config _config.yml,_config_dev.yml,_config_${{ matrix.lang }}.yml --destination _site/

      - name: Check links
        run: |
          bundle exec htmlproofer \
            --allow-hash-href \
            --empty-alt-ignore \
            --check_html \
            --file_ignore "/____________/" \
            --url_ignore "/localhost/,/t.me/,/slack.com/,/cncf.io/,/example.com/,/github.com\/werf\/website\/edit/,/habr.com/,/apple-touch-icon.png/,/site.webmanifest/,/favicon/,/safari-pinned-tab/,/documentation/,/guides.html/" \
            --url-swap "github.com/werf/website/blob/main:github.com/werf/website/blob/$GITHUB_SHA,github.com/werf/website/tree/main:github.com/werf/website/tree/$GITHUB_SHA" \
            --http-status-ignore "0,429" \
            ./_site/
