name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    types: [ labeled, synchronize ]

env:
  WERF_ENV: "production"
  WERF_REPO: "ghcr.io/${{ github.repository_owner }}/werfio-guides"
  WERF_STAGES_STORAGE: "ghcr.io/werf/werfio-guides-stages"
  WERF_SET_ACTIVE_RELEASE: "global.active_release=1.2"
  WERF_TRUE_GIT_DEBUG_ARCHIVE: "1"
  WERF_TRUE_GIT_MERGE_DEBUG: "1"
  WERF_TRUE_GIT_DEBUG_PATCH: "1"
  WERF_TRUE_GIT_DEBUG_WORKTREE_SWITCH: "1"
  WERF_DEBUG_TRUE_GIT: "1"

jobs:
  converge:
    name: Deploy
    if: github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'test guides')
    runs-on: self-hosted
    steps:

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Generate artifacts
      if: github.ref == 'refs/heads/main'
      run: |
          cd .werf/artifacts
          bash generate_artifacts.sh

    - name: Deploy to test
      uses: werf/actions/converge@v1.2
      if: contains(github.event.pull_request.labels.*.name, 'test guides')
      with:
        env: test
      env:
        WERF_KUBE_CONTEXT: dev
        WERF_NAMESPACE: "werfio-test"
        WERF_RELEASE: "werfio-site-test"
        WERF_LOG_VERBOSE: "on"

    - name: Deploy to production
      uses: werf/actions/converge@v1.2
      if: github.ref == 'refs/heads/main'
      with:
        env: production
      env:
        WERF_KUBE_CONTEXT: prod
        WERF_NAMESPACE: "werfio-production"
        WERF_RELEASE: "werfio-site-production"
        WERF_LOG_VERBOSE: "on"

  notify:
    runs-on: self-hosted
    needs: converge
    if: always()
    steps:
      - uses: technote-space/workflow-conclusion-action@v2
      - name: (Notifications) Deploy to production has failed
        if: github.ref == 'refs/heads/main' && env.WORKFLOW_CONCLUSION == 'failure'
        run: |
          curl -X POST \
               -H 'Content-type: application/json' \
               --data "{\"text\":\"[werf guides] Deploy to production has failed (job <$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID|$GITHUB_RUN_ID>)\"}" \
               ${{ secrets.SLACK_WEBHOOK }}
