name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    types: [ labeled, synchronize ]

env:
  WERF_ENV: "production"
  WERF_REPO: "ghcr.io/${{ github.repository_owner }}/werfio-guides"
  WERF_STAGES_STORAGE: "ghcr.io/werf/werfio-guides-stages"
  WERF_SET_ACTIVE_RELEASE: "global.active_release=1.2"

jobs:
  converge:
    name: Deploy
    if: github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'test website') || contains(github.event.pull_request.labels.*.name, 'stage website')
    runs-on: self-hosted
    steps:

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Generate artifacts
      if: github.ref == 'refs/heads/main'
      run: |
          cd .werf/artifacts
          bash generate_artifacts.sh

    - name: Deploy to test
      uses: werf/actions/converge@v1.2
      if: contains(github.event.pull_request.labels.*.name, 'test website')
      with:
        env: test
      env:
        WERF_KUBE_CONTEXT: dev
        WERF_NAMESPACE: "werfio-test"
        WERF_RELEASE: "werfio-site-test"
        WERF_LOG_VERBOSE: "on"

    - name: Deploy to stage
      uses: werf/actions/converge@v1.2
      if: contains(github.event.pull_request.labels.*.name, 'stage website')
      with:
        env: stage
      env:
        WERF_KUBE_CONTEXT: dev
        WERF_NAMESPACE: "werfio-stage"
        WERF_RELEASE: "werfio-site-stage"
        WERF_LOG_VERBOSE: "on"

    - name: Deploy to production
      uses: werf/actions/converge@v1.2
      if: github.ref == 'refs/heads/main'
      with:
        env: production
      env:
        WERF_KUBE_CONTEXT: prod
        WERF_NAMESPACE: "werfio-production"
        WERF_RELEASE: "werfio-site-production"
        WERF_LOG_VERBOSE: "on"

  notification:
    name: Notification
    if: always()
    needs: release
    runs-on: ubuntu-latest
    steps:

      - uses: technote-space/workflow-conclusion-action@v2

      - name: Notify
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_COLOR: ${{ env.WORKFLOW_CONCLUSION }}
          MSG_MINIMAL: "ref,actions url"