name: prod
on:
  push:
    branches:
      - main

jobs:
  prod:
    name: prod
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # ===========================
      # 1. Docker Buildx with docker-container driver (default)
      # ===========================
      # This is the default option and will run builds inside a container-based builder instance.
      # No additional configuration is required, and QEMU is automatically used for cross-platform builds.
      #
      # - name: Set up Docker Buildx (docker-container driver)
      #   uses: docker/setup-buildx-action@v3

      - uses: werf/actions/install@v2

      - run: |
          source "$(werf ci-env github --as-file)"
          werf converge
        env:
          WERF_ENV: prod
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
